<p>
  nosotros works!
</p>

<H1>Sobre Nosotros</H1>
<p>Lep Corp es una empresa líder en el desarrollo de software, especializada en soluciones 
  en la nube, backend y frontend. Nuestro equipo altamente capacitado se enfoca en la 
  implementación de microservicios y en la metodología ágil Scrum para ofrecer productos de 
  calidad a nuestros clientes. Además, contamos con experiencia en Devops para garantizar una 
  entrega eficiente y continua.</p>
  <div id="divimgcorreo">
    <img id="imgcorreo" src="/assets/imagenes/nosotros1.webp" alt="Bootstrap" >
  </div> 
  <div id="divimgcorreo2">
    <img id="imgcorreo" src="/assets/imagenes/nosotros2.webp" alt="Bootstrap" >
  </div> 
  <h2>transformando ideaas en realidad</h2>
  <p>Lep Corp es una empresa de desarrollo de software con sede en Colombia. Nos especializamos
     en ofrecer soluciones tecnológicas innovadoras y de alta calidad para empresas de 
     diferentes sectores. Desde aplicaciones web y móviles hasta sistemas de gestión 
     empresarial, nuestro equipo altamente calificado y experimentado está comprometido en 
     brindar soluciones a medida que ayuden a nuestros clientes a mejorar su eficiencia y 
     productividad.</p>
