<section id="seccion1">
  <div class="container-fluid my-0" id="containerprincipal">
    <div id="filatop" class="row align-items-center">
      <div class="col">
        <H1 id="tituloprincipal">Sobre Nosotros</H1>
        <p id="parrafonosotros">Lep Corp es una empresa emergente en el desarrollo de software, especializada en soluciones 
          en la nube, backend y frontend. Nuestro equipo altamente capacitado se enfoca en la 
          implementación de microservicios y en la metodología ágil Scrum para ofrecer productos de 
          calidad a nuestros clientes. Además, contamos con experiencia en Devops para garantizar una 
          entrega eficiente y continua.</p>
      </div>  
    </div>
    <div id="filaimagenes" class="row">
      <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div id="divimgnosotros1">
          <img id="imgnosotros1" src="/assets/imagenes/nosotros1.webp" alt="Bootstrap" >
        </div> 
      </div>    
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div id="divimgnosotros2">
          <img id="imgnosotros2" src="/assets/imagenes/nosotros2.webp" alt="Bootstrap" >
        </div> 
      </div>
    </div>
    <div id="tercerafila" class="row align-items-top">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h2 id="titulosecundario">Transformando ideas en realidad</h2>
      </div>                
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p id="parrafonosotros2">Lep Corp es una empresa de desarrollo de software con sede en Colombia. Nos especializamos
          en ofrecer soluciones tecnológicas innovadoras y de alta calidad para empresas de 
          diferentes sectores. Desde aplicaciones web y móviles hasta sistemas de gestión 
          empresarial, nuestro equipo altamente calificado y experimentado está comprometido en 
          brindar soluciones a medida que ayuden a nuestros clientes a mejorar su eficiencia y 
          productividad.</p>
      </div>
    </div>
  </div>  
</section>

