<p>
  servicio works!
</p>
<h1>Soluciones tecnológicas integrales.</h1>
<p>En Lep Corp nos especializamos en el desarrollo de software enfocado en la nube, 
  utilizando metodologías ágiles como Scrum y Devops para brindar soluciones eficientes y 
  escalables. Además, contamos con experiencia en microservicios y tanto en el frontend como 
  en el backend para ofrecer una experiencia completa en el desarrollo de aplicaciones.</p>

  <div id="divimgcorreo">
    <img id="imgcorreo" src="/assets/imagenes/servicios1.webp" alt="Bootstrap" >
  </div> 
  <div id="divimgcorreo2">
    <img id="imgcorreo" src="/assets/imagenes/servicios2.webp" alt="Bootstrap" >
  </div> 
  <div id="divimgcorreo3">
    <img id="imgcorreo" src="/assets/imagenes/servicios2.webp" alt="Bootstrap" >
  </div> 

  <h2>Nube segura</h2>
  <p>La nube segura protege mis datos y garantiza la confidencialidad de mi información en línea.</p>
  <h2>Monitoreo en tiempo real</h2>
  <p>El monitoreo en tiempo real permite tener un control constante y actualizado de la situación, 
    garantizando una respuesta rápida y eficaz ante cualquier eventualidad.</p>
  <h2>Integración continua</h2>
  <p>La integración continua es una práctica esencial en el desarrollo de software, ya que permite
     la detección temprana de errores y la entrega constante de nuevas funcionalidades al 
     producto final.</p>

