<section id="seccion1">
  <div class="container-fluid my-0" id="containerprincipal">
    <div id="filatop" class="row align-items-center">
      <div class="col">
        <h1 id="tituloprincipal">Soluciones tecnológicas integrales.</h1>
        <p id="parrafoservicios">En Lep Corp nos especializamos en el desarrollo de software enfocado en la nube, 
           utilizando metodologías ágiles como Scrum y Devops para brindar soluciones eficientes y 
           escalables. Además, contamos con experiencia en microservicios y tanto en el frontend como 
           en el backend para ofrecer una experiencia completa en el desarrollo de aplicaciones.
        </p>
      </div>
    </div>

    <div id="filacards" class="row align-items-top">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/servicios1.webp" alt="Imagen Servicios Nube">
          <div class="card-body">
            <h2 class="card-title">Nube Segura</h2>
            <p class="card-text">La nube segura protege mis datos y garantiza la confidencialidad de mi 
              información en línea.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/servicios2.webp" alt="Imagen Servicios Monitoreo">
          <div class="card-body">
            <h2 class="card-title">Monitoreo en tiempo real</h2>
            <p class="card-text">El monitoreo en tiempo real permite tener un control constante y actualizado de la situación, 
              garantizando una respuesta rápida y eficaz ante cualquier eventualidad.</p>
          </div>          
        </div> 
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/servicios3.webp" alt="Imagen Integracion Continua">
          <div class="card-body">
            <h2 class="card-title">Integración continua</h2>
            <p class="card-text">La integración continua es una práctica esencial en el desarrollo de software, ya que permite
              la detección temprana de errores y la entrega constante de nuevas funcionalidades al 
              producto final.</p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>


