.skip-link{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.footP{
    background-color: #F9A825;
}

a{
    color: black;
    font-weight: bold;
}

.nav-link{
    color: black;
    font-weight: bold;
}

#navbarNav{
   visibility: visible;
}

.itemmenu{
    color: black;
    font-weight: bold;
}

ul{
    visibility: visible;
    margin-left: 10%;
}

footer{
    padding-top: 1rem;
}