<header>
  <a i18n="Enlace principal usabilidad|Primer enlace al contenido principal usado por lectores" href="#main" class="skip-link">Skip to main content</a>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #4e477a"
  >
    <div class="container-fluid">
      <a i18n="Nombre Empresa|Nombre que identifica la empresa" class="navbar-brand" href="#">LEP CORP</a>
      <!-- <li class="nav-item dropdown">
        <a
          style="color:white"
          i18n="Idioma|Menu de idiomas"
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >
          Language
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a data-cy="spanishMenu" i18n="Idioma Spanish|Idioma Spanish" class="dropdown-item" href="/abc-jobs/{{localesList[1].code}}/">Spanish</a></li>
        <li><a data-cy="englishMenu" i18n="Idioma English|idioma English" class="dropdown-item" href="/abc-jobs/{{localesList[0].code}}/">English</a></li>
        </ul>
      </li>  -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        data-cy="btnToggleNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a 
              i18n="Empresa|Menu principal de los usuarios de tipo Empresa"
              class="nav-link active"
              aria-current="page"
              routerLink="/detalleEmpresa"
              data-cy="companyCompany"
              >Inicio
            </a>
          </li>
          <li class="nav-item">
            <a 
              i18n="Puestos Empresa|Puestos ofrecidos por una empresa"
              class="nav-link active"
              aria-current="page"
              routerLink="/puestosEmpresa"
              data-cy="puestosCompany"
              >Sobre nosotros
            </a>
          </li>          
          <li class="nav-item">
            <a
              i18n="Entrevistas|Entrevistas de un Candidato"
              class="nav-link active"
              aria-current="page"
              routerLink="/entrevistasEmpresas/"
              data-cy="interCompany"
              >Servicio</a
            >
          </li>
          <li class="nav-item">
            <a
              i18n="Pagos|Pagos hechos por las Empresas"
              class="nav-link active"
              aria-current="page"
              routerLink="/construccion"
              data-cy="payCompany"
              >Equipo</a
            >
          </li>          
          <li class="nav-item">
            <a
              i18n="Candidato|Menu principal de los usuarios de tipo Candidato"
              class="nav-link active"
              aria-current="page"
              routerLink="/detalleCandidato"
              data-cy="candCandidate"
              >Contacto</a
            >
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer py-0 my-0">
  <div class="footer-copyright text-center py-0 my-0">
    <!-- <a i18n="Nombre Empresa|Nombre empresa en Pie de Pagina" routerLink="" id="colorFooterText2">ABC Jobs</a> -->
    <button 
      i18n-aria-label="arialabelhome|Aria-Label del boton Home"
      aria-label="Home"
      data-cy="goHome"
      class="py-0 my-0"
      mat-icon-button matTooltip="Home" 
      color="primary"
      i18n="Ir a Casa|Va a la Pagina de Inicio segun el usuario"
      (click)="goHome()">
      <mat-icon class="py-0 my-0">home</mat-icon>
    </button>
    <p class="footP">
      <a 
         class="contraste"
         i18n="PoliticaDePrivacidad|Contiene la politica de privacidad del sitio" 
         href="#">Privacy Policy
      </a>|
      <a 
         class="contraste"
         i18n="TerminosDeUso|Contiene los terminos de uso del sitio" 
         href="#">Terms of Use
      </a>
    </p>
    <p class="footP">
      <span 
        class="contraste"
        i18n="CopyRight|Derechos de autor" >
        CopyRight 2025-2100 Lep Corp SAS v.1.0.0
      </span>
    </p>
  </div>
</footer>

<div class="container mt-4">
  <h2 class="text-center">Create a new Query</h2>
  <form
    [formGroup]="consultaForm"
    (ngSubmit)="!consultaForm.invalid && createConsulta(consultaForm.value)"
  >
    <!--Contact-->
    <div class="form-group mx-sm-3 mb-2">
      <label for="contacto">Contact</label>
      <input
        novalidate
        id="contacto"
        class="form-control"
        formControlName="contacto"
        placeholder="Contact's name"
      />
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          consultaForm.get('contacto')!.hasError('required') &&
          consultaForm.get('contacto')!.touched
        "
      >
        Contact required
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="consultaForm.get('contacto')!.hasError('minlength')"
      >
        contact too short
      </div>
    </div>
 
    <!--Company-->
    <div class="form-group mx-sm-3 mb-2">
      <label for="empresa">Company</label>
      <input
        novalidate
        id="empresa"
        class="form-control"
        formControlName="empresa"
        placeholder="Company's name"
      />
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          consultaForm.get('empresa')!.hasError('required') &&
          consultaForm.get('empresa')!.touched
        "
      >
        Company required
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="consultaForm.get('empresa')!.hasError('minlength')"
      >
        Company too short
      </div>
    </div>
 
    <!-- Correo -->
    <div class="form-group mx-sm-3 mb-2">
      <label for="correo">E-Mail</label>
      <input
        novalidate
        id="correo"
        class="form-control"
        formControlName="correo"
        placeholder="E-Mail"
      />
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          consultaForm.get('correo')!.hasError('required') &&
          consultaForm.get('correo')!.touched
        "
      >
        E-mail required
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="consultaForm.get('correo')!.hasError('minlength')"
      >
        E-Mail too short
      </div>
    </div>

    <!-- Cell Phone -->
    <div class="form-group mx-sm-3 mb-2">
      <label for="celular">Cell Phone</label>
      <input
        novalidate
        id="celular"
        class="form-control"
        formControlName="celular"
        placeholder="Cell Phone"
      />
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          consultaForm.get('celular')!.hasError('required') &&
          consultaForm.get('celular')!.touched
        "
      >
        Cell Phone required
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="consultaForm.get('celular')!.hasError('minlength')"
      >
        Cell Phone too short
      </div>
    </div>

    <!-- Mensaje -->
    <div class="form-group mx-sm-3 mb-2">
      <label for="mensaje">Message</label>
      <input
        novalidate
        id="mensaje"
        class="form-control"
        formControlName="mensaje"
        placeholder="Brief description of the consultation"
      />
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="
          consultaForm.get('mensaje')!.hasError('required') &&
          consultaForm.get('mensaje')!.touched
        "
      >
      Brief description of the consultation required
      </div>
      <div
        class="alert alert-danger alert-dismissible fade show"
        *ngIf="consultaForm.get('mensaje')!.hasError('maxlength')"
      >
        Brief description of the consultation too long
      </div>
    </div>
 
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!consultaForm.valid"
    >
      Create
    </button>
    <button
      type="button"
      class="btn btn-danger ml-3"
      (click)="cancelCreation()"
    >
      Clear
    </button>
  </form>
 </div>