<header>
  <a i18n="Enlace principal usabilidad|Primer enlace al contenido principal usado por lectores" href="#main" class="skip-link">Skip to main content</a>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #F9A825"
  >
    <div class="container-fluid">
      <img id="logo" src="/assets/imagenes/logo.jpg" alt="Logo">
      <a i18n="Nombre Empresa|Nombre que identifica la empresa" class="navbar-brand" href="#">LEP CORP</a>
      <!-- <li class="nav-item dropdown">
        <a
          style="color:white"
          i18n="Idioma|Menu de idiomas"
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          >
          Language
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a data-cy="spanishMenu" i18n="Idioma Spanish|Idioma Spanish" class="dropdown-item" href="/abc-jobs/{{localesList[1].code}}/">Spanish</a></li>
        <li><a data-cy="englishMenu" i18n="Idioma English|idioma English" class="dropdown-item" href="/abc-jobs/{{localesList[0].code}}/">English</a></li>
        </ul>
      </li>  -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        data-cy="btnToggleNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a 
              i18n="Empresa|Menu principal de los usuarios de tipo Empresa"
              class="nav-link active"
              aria-current="page"
              routerLink=""
              data-cy="companyCompany"
              ><span class="itemmenu">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a 
              i18n="Puestos Empresa|Puestos ofrecidos por una empresa"
              class="nav-link active"
              aria-current="page"
              routerLink="/nosotros"
              data-cy="puestosCompany"
              ><span class="itemmenu">Sobre nosotros</span>
            </a>
          </li>          
          <li class="nav-item">
            <a
              i18n="Entrevistas|Entrevistas de un Candidato"
              class="nav-link active"
              aria-current="page"
              routerLink="/servicios/"
              data-cy="interCompany"
              ><span class="itemmenu">Servicios</span></a
            >
          </li>
          <li class="nav-item">
            <a
              i18n="Pagos|Pagos hechos por las Empresas"
              class="nav-link active"
              aria-current="page"
              routerLink="/equipo"
              data-cy="payCompany"
              ><span class="itemmenu">Equipo</span></a
            >
          </li>          
          <li class="nav-item">
            <a
              i18n="Candidato|Menu principal de los usuarios de tipo Candidato"
              class="nav-link active"
              aria-current="page"
              routerLink="/mensaje"
              data-cy="candCandidate"
              ><span class="itemmenu">Contacto</span></a
            >
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <router-outlet></router-outlet>
</main>

<footer class="page-footer py-0 my-1">
  <div class="footer-copyright text-center py-0 my-0">
    <!-- <a i18n="Nombre Empresa|Nombre empresa en Pie de Pagina" routerLink="" id="colorFooterText2">ABC Jobs</a> -->
    <button 
      i18n-aria-label="arialabelhome|Aria-Label del boton Home"
      aria-label="Home"
      data-cy="goHome"
      class="py-0 my-0"
      mat-icon-button matTooltip="Home" 
      color="primary"
      i18n="Ir a Casa|Va a la Pagina de Inicio segun el usuario"
      (click)="goHome()">
      <mat-icon class="py-0 my-0">home</mat-icon>
    </button>
    <p class="footP">
      <a 
         class="contraste"
         i18n="PoliticaDePrivacidad|Contiene la politica de privacidad del sitio" 
         href="#">Privacy Policy
      </a>|
      <a 
         class="contraste"
         i18n="TerminosDeUso|Contiene los terminos de uso del sitio" 
         href="#">Terms of Use
      </a>
    </p>
    <p class="footP">
      <span 
        class="contraste"
        i18n="CopyRight|Derechos de autor" >
        CopyRight 2025-2100 Lep Corp SAS v.1.0.0
      </span>
    </p>
  </div>
</footer>
