<section id="seccion1">
  <div class="container-fluid my-0" id="containerprincipal">
    <div id="filatop" class="row align-items-center">
      <div class="col">
        <h1 id="tituloprincipal">Nuestro equipo</h1>
        <p id="parrafoservicios">El equipo de Lep Corp es una mezcla perfecta de experiencia y talento joven. Cada miembro 
          aporta sus habilidades únicas y juntos forman un equipo dinámico y altamente competente en 
          el desarrollo de software. La colaboración y el compromiso con la excelencia son 
          características que se pueden ver en cada proyecto en el que trabajan.
        </p>
      </div>
    </div>
    <hr>
    <div id="filacards" class="row align-items-top">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/IngSoftware.jpg" alt="Foto integrante1 equipo">
          <div class="card-body">
            <h2 class="card-title">Ingeniero de Software</h2>
            <p class="card-text">Luis Eduardo Padilla Caviedes</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/proyectos.jpg" alt="Foto integrante2 equipo">
          <div class="card-body">
            <h2 class="card-title">Gerente de Proyectos</h2>
            <p class="card-text">Luis Eduardo Padilla Ortega</p>
          </div>          
        </div> 
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/IngSoftware.jpg" alt="Foto integrante3 equipo">
          <div class="card-body">
            <h2 class="card-title">Arquitecto de Sistemas</h2>
            <p class="card-text">Luis Eduardo Padilla Caviedes</p>
          </div>          
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0 px-0 mx-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/Rafael.jpg" alt="Foto integrante4 equipo">
          <div class="card-body">
            <h2 class="card-title">Ingeniero de Pruebas</h2>
            <p class="card-text">Rafael Dolmedes Ortiz</p>
          </div>          
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/ux2.jpg" alt="Foto integrante5 equipo">
          <div class="card-body">
            <h2 class="card-title">Diseñador interfaz de usuario</h2>
            <p class="card-text">Carolina Cardenas Padilla</p>
          </div>          
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
          <img class="card-img-top img-tarjeta" src="./assets/imagenes/equipo4.jpg" alt="Foto integrante6 equipo">
          <div class="card-body">
            <h2 class="card-title">Especialista en Seguridad</h2>
            <p class="card-text">Edwin Diaz</p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>

