<p>
  equipo works!
</p>
<h1>Nuestro equipo</h1>
<p>El equipo de Lep Corp es una mezcla perfecta de experiencia y talento joven. Cada miembro 
  aporta sus habilidades únicas y juntos forman un equipo dinámico y altamente competente en 
  el desarrollo de software. La colaboración y el compromiso con la excelencia son 
  características que se pueden ver en cada proyecto en el que trabajan.</p>

<hr>

<div id="divimgcorreo">
  <img id="imgcorreo" src="/assets/imagenes/equipo1.jpg" alt="Bootstrap" >
</div> 
<div id="divimgcorreo2">
  <img id="imgcorreo" src="/assets/imagenes/equipo2.jpg" alt="Bootstrap" >
</div> 
<div id="divimgcorreo3">
  <img id="imgcorreo" src="/assets/imagenes/equipo3.jpg" alt="Bootstrap" >
</div> 
<div id="divimgcorreo4">
  <img id="imgcorreo" src="/assets/imagenes/equipo4.jpg" alt="Bootstrap" >
</div> 
