<section>
  <div class="container-fluid my-0" id="principal">
    <div id="filacontacto" class="row align-items-top">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 id="tituloprincipal" class="display-1">Transformando ideas en soluciones digitales</h1>
        <div class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
          <p>
            En Lep Corp, nos especializamos en el desarrollo de software de alta calidad que brinda soluciones innovadoras para tus necesidades tecnológicas, ¡porque tu éxito es nuestra prioridad!
          </p>
        </div>
      </div>
      <div id="divimgcontacto" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img id="imgcontacto" i18n-alt="txtAltViewCompany|Texto alternativo imagen empresa" class="logoPag" src="./assets/imagenes/imagen1.webp"  alt="Image of a Company">
      </div>      
    </div>
  </div>  
</section>
