<section id="inicial">
  <div class="container-fluid my-0" id="containerprincipal">
    <div id="filacontacto" class="row align-items-top">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 id="tituloprincipal">Transformando ideas en soluciones digitales</h1>
        <div id="divparrafoprincipal" class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
          <p id="parrafoprincipal">
            En Lep Corp, nos especializamos en el desarrollo de software de alta calidad que brinda soluciones innovadoras para tus necesidades tecnológicas, ¡porque tu éxito es nuestra prioridad!
          </p>
        </div>
        <div id="divbotoncontacto">
          <a href="#seccionmensaje" class="btn btn-dark btn-lg active" role="button" aria-pressed="true"><span>Contacto</span></a>
        </div>
      </div>
      <div id="divimgcontacto" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img id="imgcontacto" i18n-alt="txtAltViewCompany|Texto alternativo imagen empresa" class="logoPag" src="./assets/imagenes/imagen1.webp"  alt="Imagen Contacto">
      </div>      
    </div>
  </div>  
</section>

<section id="nosotros">
  <div class="container-fluid my-0" id="containernosotros">
    <div id="filanosotros" class="row align-items-top">
      <div id="divimgnosotros" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img id="imgnosotros" i18n-alt="txtAltViewCompany|Texto alternativo imagen empresa" class="logoPag" src="./assets/imagenes/imagen2.webp"  alt="Imagen Nosotros">
      </div>      
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 id="titulonosotros">Transformando ideas en realidad</h1>
        <div id="divparrafonosotros" class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
          <p id="parrafonosotros">
            Lep Corp es una empresa líder en el desarrollo de software, especializada en soluciones en la nube, backend y frontend. Nuestro equipo altamente capacitado se enfoca en la implementación de microservicios y en la metodología ágil Scrum para ofrecer productos de calidad a nuestros clientes. Además, contamos con experiencia en Devops para garantizar una entrega eficiente y continua.
          </p>
        </div>
        <div id="divbotonnosotros">
          <a id="enlacenosotros" href="/lepcorpsas1/nosotros" class="active" aria-pressed="true"><span>Sobre nosotros -></span></a>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id="servicios">
  <div class="container-fluid my-0" id="containerservicios">
    <div id="filaservicios" class="row align-items-top">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 id="tituloservicios">Soluciones tecnológicas integrales.</h1>
        <div id="divparrafoservicios" class="b-c b-text-c b-s b-s-t60 b-s-b60 b-cs cf">
          <p id="parrafoservicios">
            En Lep Corp nos especializamos en el desarrollo de software enfocado en la nube, utilizando metodologías ágiles como Scrum y Devops para brindar soluciones eficientes y escalables. Además, contamos con experiencia en microservicios y tanto en el frontend como en el backend para ofrecer una experiencia completa en el desarrollo de aplicaciones.
          </p>
        </div>
        <div id="divlistaservicios">
          <ul id="listaservicios">
            <li>Nube segura</li>
            <li>Monitoreo en tiempo real</li>
            <li>Integración continua</li>
          </ul>
        </div>
        <div id="divbotonservicios">
          <a id="enlacenosotros" href="/lepcorpsas1/servicios" class="active" aria-pressed="true"><span>Todos los servicios -></span></a>
        </div>
      </div>
      <div id="divimgservicios" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img id="imgservicios" i18n-alt="txtAltViewCompany|Texto alternativo imagen empresa" class="logoPag" src="./assets/imagenes/imagen3.webp"  alt="Imagen Servicios">
      </div>      
    </div>
  </div>  
</section>


<section id="seccionmensaje">
  <div class="container-fluid my-0" id="containermensaje">
    <div id="filamensaje" class="row align-items-top">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1 id="titulomensaje">Contacto</h1>
        <div id="divparrafomensaje">
          <p id="parrafomensaje">
            ¡Hola! Somos Lep Corp, una empresa especializada en desarrollo de software con sede en Colombia.
          </p>
        </div>
        <div id="divlistamensaje">
          <div id="divubicacion">
            <div id="divimgubicacion">
              <img id="imgubicacion" src="./assets/imagenes/ubicacion.svg" alt="Icono ubicacion" width="24" height="24">
            </div> 
            <div id="divtextoempresa">
              <p id="textoempresa">Lep Corp SAS</p>
            </div>
          </div>
          <div id="divdireccion">
            <div id="divimgubicacion2">
              <img id="imgubicacion" src="./assets/imagenes/ubicacion.svg" alt="Icono ubicacion" width="24" height="24">
            </div> 
            <div id="divtextodireccion">
              <p id="textodireccion">Mz E3 casa 8A Urb. Colombia, Valledupar, Cesar</p>
            </div>
          </div>
          <div id="divtelefono">
            <div id="divimgtelefono">
              <img id="imgtelefono" src="./assets/imagenes/telefono.svg" alt="Icono Telefono" width="24" height="24">
            </div>      
            <div id="divtextotelefono">
              <p id="textotelefono">3054419334</p>
            </div>      
          </div>
          <div id="divcorreo">
            <div id="divimgcorreo">
              <img id="imgcorreo" src="./assets/imagenes/correo.svg" alt="Icono Correo" width="24" height="24">
            </div>      
            <div id="divtextocorreo">
              <p id="textocorreo">lepcorpsas&#64;gmail.com</p>
            </div>      
          </div>
        </div>
      </div>
      <div id="divdivmensaje" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="container-fluid my-4" id="divmensaje">
          <form
          [formGroup]="consultaForm"
          (ngSubmit)="!consultaForm.invalid && createConsulta(consultaForm.value)"
        >
          <!--Contact-->
          <h2 class="text-center">Envianos un mensaje</h2>
          <div class="form-group mx-sm-3 mb-2">
            <label for="contacto">Contacto</label>
            <input
              novalidate
              id="contacto"
              class="form-control"
              formControlName="contacto"
              placeholder="Digite el nombre del contacto"
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                consultaForm.get('contacto')!.hasError('required') &&
                consultaForm.get('contacto')!.touched
              "
            >
              Se requiere el Contacto
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="consultaForm.get('contacto')!.hasError('minlength')"
            >
              Contacto muy corto
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="consultaForm.get('contacto')!.hasError('maxlength')"
            >
              Contacto muy largo
            </div>
          </div>
       
          <!--Company-->
          <div class="form-group mx-sm-3 mb-2">
            <label for="empresa">Empresa</label>
            <input
              novalidate
              id="empresa"
              class="form-control"
              formControlName="empresa"
              placeholder="Digite nombre de la empresa o interesado"
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                consultaForm.get('empresa')!.hasError('required') &&
                consultaForm.get('empresa')!.touched
              "
            >
              Empresa requerida
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="consultaForm.get('empresa')!.hasError('minlength')"
            >
              Empresa muy corta
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="consultaForm.get('empresa')!.hasError('maxlength')"
            >
              Empresa muy larga
            </div>
          </div>
       
          <!-- Correo -->
          <div class="form-group mx-sm-3 mb-2">
            <label for="correo">Correo</label>
            <input
              novalidate
              id="correo"
              type="email"
              class="form-control"
              formControlName="correo"
              placeholder="Digite el correo electronico"
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                consultaForm.get('correo')!.hasError('required') &&
                consultaForm.get('correo')!.touched
              "
            >
              Se requiere el correo electronico
            </div> 
            <div 
                 class="alert alert-danger alert-dismissible fade show"
                 *ngIf="consultaForm.get('correo')!.hasError('pattern')"
            >
              Por favor ingrese un correo electronico valido
            </div>
          </div>
      
          <!-- Cell Phone -->
          <div class="form-group mx-sm-3 mb-2">
            <label for="celular">Celular</label>
            <input
              novalidate
              id="celular"
              class="form-control"
              formControlName="celular"
              placeholder="Digite el numero celular"
            />
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                consultaForm.get('celular')!.hasError('required') &&
                consultaForm.get('celular')!.touched
              "
            >
              Se requiere el numero de celular
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="consultaForm.get('celular')!.hasError('pattern')"
            >
              Por favor ingrese un numero celular valido
            </div>
          </div>
      
          <!-- Mensaje -->
          <div class="form-group mx-sm-3 mb-2">
            <label i18n="lblAnotacionesEVResult|Etiqueta del campo Anotaciones" class="fst-italic fw-bold" for="mensaje">Mensaje</label>
            <textarea 
              novalidate
              id="mensaje"
              class="form-control"
              formControlName="mensaje"
              i18n-placeholder="holderAnotacionesEVResult|placeholder del campo anotaciones"
              placeholder="Digite el mensaje"
              data-cy="anotaResultEV"
              rows="5">
            </textarea>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="
                consultaForm.get('mensaje')!.hasError('required') &&
                consultaForm.get('mensaje')!.touched
              "
            >
              <span i18n="msgErrorAnotaRequeridaEVResult|Anotaciones requeridas" >El Mensaje es requerido</span>
            </div>
            <div
              class="alert alert-danger alert-dismissible fade show"
              *ngIf="consultaForm.get('mensaje')!.hasError('maxlength')"
            >
            <span i18n="msgErrorAnotaLargaEVResult|Anotaciones muy largas" >Mensaje muy largo</span>
            </div>
          </div>        
          <button id="botonsubmit" 
            type="submit"
            class="btn btn-warning"
            [disabled]="!consultaForm.valid"
          >
            <span id="textoenviar">Enviar</span>
          </button>
          <!-- <button           form-control-sm
            type="button"
            class="btn btn-danger ml-3"
            (click)="cancelCreation()"
          >
            Limpiar
          </button> -->
        </form>
        </div>      
      </div>      
    </div>
  </div>  
</section>
